/* CONTAINERS */
html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0; padding: 0; /* Browsers have default 8px margins _or_ padding! */
  font-size: 100%; /* See: http://www.informationarchitects.jp/en/100e2r/ */
  line-height: 1.5; /* Default value, `normal`, depends on the font */
  font-family: Tahoma, Ariel, Helvetica, san-sarif;
  color:#1C1F21;
  font-size:12px;
  height: 100%;
  width: 100%;
  background-color: #424242;
}
/* HTML5 blocks - needed in older browsers */
article, aside, figcaption, figure, footer, header, nav, section {
  display: block;
}

/* PARAGRAPHS */
h1, h2, h3, h4 {
  margin: 0 0 .3em; /* Titles should be close to the text they describe */
  line-height: 1.25; /* Bigger text is often nicer with smaller line height */
  font-weight: normal; /* Browser default. Use `normal` for less bulky titles */
}
h1 {font-size: 24px;}
h2 {font-size: 18px;}
h3 {font-size: 16px;}
h4 {font-size: 14px;}
ul, ol {
  margin: 0; /* Default for all browsers except IE */
  padding-left: 40px; /* IE has a 40px margin-left instead */
}
p {
  margin: 0;
  font-size:12px;
}
.small-text{font-size: 11px}
.tiny-text{font-size: 10px}
.disabled-text{color:#909496;}
.white-text{color:#fff;}


/* LINKS */
/* Default browser styles (from Firefox, similar in most browsers) */
a {
  text-decoration: underline;
}
a:link {color: #0000EE;}
a:visited {color: #551A8B;}
a:active {color: #EE0000;}
/* Add your own styles for hover _and_ focus styles */
a:hover, a:focus {
  /* ... */
}
/* Remove dotted outline clicked links - Keeps outline on focus */
a:active, a:hover {
  outline: none;
}
/* No border around images in links */
a img {
  border: none;
}

/* MISC TEXT-LEVEL ELEMENTS */
/* Make quotations and references more visible */
q, cite {
  font-style: italic;
}
/* Remove automatic quotation marks for inline quotations
   (`q {quotes:none}` not implemented in WebKit) */
q:before, q:after {
  content: "";
}
/* Stopping superscript and subscript from adding to the line's leading */
sup, sub {
  line-height: 0;
}

/* FORMS */
fieldset {
  margin: 0; /* Common default is `0 2px` */
  padding: 0; /* Common default (roughly): `.35em .625em .75em` */
  border: none;
}
input, button, select {
  vertical-align: middle; /* Helps keep form elements roughly aligned */
}
label{color:#373F42;}

/* TABLES */
table {
  border-collapse: collapse; /* Merges cell borders together */
  /* Browser default: border-collapse: separate; border-spacing: 2px; */
}
td, th {
  padding: 1px; /* Same as browser default - set to "0" to remove padding */
  vertical-align: top; /* Default is "middle" */
  text-align: left; /* Default for TH elements is "center" */
}
td:first-child, th:first-child {
  empty-cells: hide; /* Hide empty cells when they're the first in the row */
}

/* MENU ICON*/
.menu {
  position: relative;
  padding:4px 14px 4px 4px;
  border: 1px solid #fff;
  cursor: pointer;
}
.menu.active{border-color:#B2B5B6;}
.menu-icon {
  border-bottom: 6px double #1C1F21; 
    border-top: 2px solid #1C1F21; 
    content:"";
    height: 2px; 
    width:12px;
    display: block;
    position: relative;
  }

.menu-icon:after {
  content: "";
   width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #1C1F21;
  position: absolute;
  left: 16px; 
  top:2px;
  }

.menu.disabled  .menu-icon{
  border-bottom: 6px double #B2B5B6; 
  border-top: 2px solid #B2B5B6; 
}

.menu.disabled  .menu-icon:after {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #B2B5B6;
  }
.menu.disabled{cursor: default;}

.menu-content{
  display: none;
  position: absolute;
  top: 18px;
  right: -1px;
  border: 1px solid #B2B5B6;
  background-color: #ffffff;
  z-index: 1;
  min-width: 50px;
}
.menu-content ul{
  padding:0px;
}
.menu-content li{
  list-style: none;
  display: inline-block;
  cursor: default;
  width: 100%;
  padding: 3px 0px 3px 0px;
}
.menu-content li span {
  white-space: nowrap;
  padding: 3px 20px 3px 20px;
}
.menu-content li:hover{
  color: #fff;
  background-color:#007CC3;
}

.menu-content li.disabled{
  color: #909496;
}
.menu-content li.disabled:hover{
  color: #909496;
  background-color:#ffffff;
}
.menu-content li.linebreak{border-bottom: 1px solid #B2B5B6;}

/* POWERCHART HEADER */
#windows10 {
  width: 1920px;
  margin-right: auto;
  margin-left: auto;
  height: 25px;
  background-color: #1A93D7;
  color: #ffffff;
}
.windows10-icons{
  float: right;
  margin-right: 15px;
  margin-top: 5px;
}
.windows10-title {
  margin-left: 10px;
  float: left;
  margin-top: 3px;
}

#patient-nav{background-color: #2d4054; width: 100%; display: block; float: left;}}
#patient-tabs {display: block; float: left;}
.patient-tab {
  min-width: 150px; 
  padding: 3px 10px;
  float:left; color: #fff;
  margin-top:6px;
  position: relative;
}
.patient-tab.active{background-color: #44b6eb}
.patient-tab-close {
  width: 12px;
  height: 13px;
  background-image: url(../images/patient-close-icon.png);
  position: absolute;
  top: 4px;
  right: 4px;
}

#patient-search{float: right;}

.demo-bar {
  width:100%;
  height: 60px;
  display: block;
  float: left;
background: #0065A3;

}
.demo-bar .column {float: left; width: 15%; margin-left:30px; margin-top:10px;}
.patient-photo {float: left; margin-left: 10px; border: 1px solid #8B8B8B; margin-top: 6px;}
.patient-name {float: left; margin-left: 10px; color: #fff}
.patient-name h2 {line-height: 55px;}
.demo-bar p {color: #fff}

.more-options {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 20px;
}
.more-options span{
  width: 5px;
  height: 5px;
  background: #ffffff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin-left: 4px;
}

#powerchart-wrapper {
  width:1920px; /*remove all styles on this class to make wrapper fluid*/
  margin-left: auto;
  margin-right: auto;
}
#powerchart-containerI {
  width: 100%;
    position: relative;
    float: left;
    background-color: #7C858D;
}
#powerchart-container{
  width:1920px;
  height: 100%;
  position: fixed;
  display: block;
  float: left;
  background-color: #ffffff;
}
.pc-next {
  position: fixed;
  right: 27px;
  top: 50%;
  margin-top: -25px;
  width: 100px;
  height: 100px;
  background: #9B9FA1;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.pc-next span {
  width: 0; 
  height: 0; 
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent; 
  border-left: 35px solid #E8E9EA;
  display: inline-block;
  margin-left: 38px;
  margin-top: 26px;
}
#powerchart{
  display: block;
  height: 100%;
  background-color: #fff;
  width:100%; /*remove width to make wrapper fluid*/
}
#powerchart-header{
  width:100%;
  display: block;
  height:26px;
  border-bottom: 1px solid #567c8c;
  border-top: 2px solid #3a7a9c;
  border-left:1px solid #498daa;
background: #27658c; /* Old browsers */
background: -moz-linear-gradient(top,  #27658c 0%, #004b6b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#27658c), color-stop(100%,#004b6b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #27658c 0%,#004b6b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #27658c 0%,#004b6b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #27658c 0%,#004b6b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #27658c 0%,#004b6b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27658c', endColorstr='#004b6b',GradientType=0 ); /* IE6-9 */
}
#powerchart-header .divider{
  height:20px;
  margin-top:3px;
  margin-left:7px;
  margin-right: 7px;
  width: 1px;
  display: block;
  background-color: #102436;
  border-right: 1px solid #4a8dab;
  float: left;
}
.video-overlay {
  position: absolute;
  bottom:95px;
  left:20px;
}
#smartzone{
  width: 39px;
  height: 100%;
  float: right;
  background-color: #F4F4F4;
  border-left: 1px solid #7C7C7C; 
}
.sz-alert-wrap{margin-top: 4px;}
.sz-alert {
  height: 36px;
  width:36px;
  position: relative;
  margin-left: 1px;
  background-repeat: no-repeat;
  background-image: url(../images/sz-icon-sprite.png);
  display: none;
}

.sz-icon {
  width: 24px;
  height: 24px;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  background-repeat: no-repeat;
  margin-right: 7px;
  background-image: url(../images/sz-Smicon-sprite.png);
}
.sz-alert-bubble {
  position: absolute;
  top: 0px;
  left: -200px;
  width: 180px;
  background-color: #ffffff;
  border:1px solid #C8CACB;
  z-index: 1;
  /*display: none;*/
}
.sz-alert-bubble:before{
  content: "";
    display: block;
    height: 17px;
    width: 17px;
    background-color: #fff;
    position: absolute;
    right: -9px;
    top: 10px;
    border-top: 1px solid #c7cdd0;
    border-left: 1px solid #c7cdd0;
    transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    z-index: 0;
}
.sz-alert-header {
  width: 100%;
  float: left;
  border-bottom: 1px solid #C8CACB;
  position: relative;
  margin-top: 3px;
  padding-bottom:6px;
  background-color: #ffffff;
  z-index: 1;
}
.sz-alert-header h4{
  margin-right: 20px;
  margin-top: 8px;
  float: left;
  max-width: 120px;
}
.sz-alert-close {
  cursor: pointer;
  width: 14px;
  height: 14px;
  background-image: url(../images/sz-close.png);
  position: absolute;
  right: 6px;
  top: 3px;
}
.sz-alert-content {
  width: 100%;
  float: left;
}
.sz-alert-content p {padding: 7px 0px; margin-left: 10px;
  margin-right: 10px;}
.sz-alert-btn {
  border:1px solid #C8CACB;
  border-radius: 4px;
  padding: 2px 1px;
  text-align: center;
  margin-bottom: 7px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
.sz-alert-btn:hover{
  background-color: #f4f4f4;
}
.sz-alert-suc{
  display: none;
  padding:10px;
  float: left;
}

.sz-alert.cds-critical{
  background-position: 0px -72px;
}
.sz-alert.cds-important{
 background-position: 0px -36px;
}
.sz-alert.cds-general{
  background-position: 0px 0px;
}

.sz-alert.reminder-critical{
  background-position: -36px -72px;
}
.sz-alert.reminder-important{
 background-position: -36px -36px;
}
.sz-alert.reminder-general{
  background-position: -36px 0px;
}

.sz-alert.message-critical{
  background-position: -72px -72px;
}
.sz-alert.message-important{
 background-position: -72px -36px;
}
.sz-alert.message-general{
  background-position: -72px 0px;
}

.sz-alert.alert-critical{
  background-position: -108px -72px;
}
.sz-alert.alert-important{
 background-position: -108px -36px;
}
.sz-alert.alert-general{
  background-position: -108px 0px;
}


/*--header icons--*/
.sz-alert.cds-critical .sz-icon{
  background-position: 0px -51px;
  width: 28px;
}
.sz-alert.cds-important .sz-icon{
 background-position: 0px -25px;
}
.sz-alert.cds-general .sz-icon{
  background-position: 0px 0px;
}

.sz-alert.reminder-critical .sz-icon{
  background-position: -28px -51px;
  width: 28px;
}
.sz-alert.reminder-important .sz-icon{
 background-position: -24px -25px;
}
.sz-alert.reminder-general .sz-icon{
  background-position: -24px 0px;
}

.sz-alert.message-critical .sz-icon{
  background-position: -56px -51px;
  width: 28px;
}
.sz-alert.message-important .sz-icon{
 background-position: -48px -25px;
}
.sz-alert.message-general .sz-icon{
  background-position: -48px 0px;
}

.sz-alert.alert-critical .sz-icon{
  background-position: -84px -51px;
  width: 28px;
}
.sz-alert.alert-important .sz-icon{
 background-position: -72px -25px;
}
.sz-alert.alert-general .sz-icon{
  background-position: -72px 0px;
}


.menu-pagination-right{
  position: relative;
    top: 0pt;
    content: "";
    display: inline-block;
    /* By using an em scale, the arrows will size with the font */
    width: 5px;
    height: 5px;
    border-right: 0.2em solid #dbe3ee;
    border-top: 0.2em solid #dbe3ee;
    transform: rotate(45deg);
    margin-right: 0.5em;
    margin-top: 10px;
    float: left;
}
.menu-pagination-left{
  position: relative;
    top: 0pt;
    content: "";
    display: inline-block;
    /* By using an em scale, the arrows will size with the font */
    width: 5px;
    height: 5px;
    border-left: 0.2em solid #dbe3ee;
    border-bottom: 0.2em solid #dbe3ee;
    transform: rotate(45deg);
    margin-right: 0.5em;
    margin-left:10px;
    margin-top: 10px;
    float: left;
}
.menu-tab{
background: #3b4754; /* Old browsers */
background: -moz-linear-gradient(left,  #3b4754 0%, #27323e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3b4754), color-stop(100%,#27323e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #3b4754 0%,#27323e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #3b4754 0%,#27323e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #3b4754 0%,#27323e 100%); /* IE10+ */
background: linear-gradient(to right,  #3b4754 0%,#27323e 100%); /* W3C */

    height: 100px;
    width: 22px;
    margin-top: 3px;
    border-radius: 0 3px 3px 0;
    border-right: 1px solid #505050;
    border-top: 1px solid #505050;
    border-bottom: 1px solid #505050;
}
.menu-text{
  -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    padding: 6px;
    color: #fff;
    font-size: 11px;
}


/*MPAGE WRAPPER STYLES*/
#mPage-wrapper{
  width:100%;
  display: block;
}

#mPage-tab-cont{
  background-image: url(../images/viewpoint-bg.png);
  background-repeat: repeat-x;
  background-position: bottom;
  height: 30px;
  width:100%;
  display: block;
}
#mPage-menu{
  float: right;
  height: 25px;
  border-left:1px solid #B2B5B6;
  border-top: 1px solid #B2B5B6;
  padding-right:20px;
  padding-left:20px;
  margin-top: 4px;
  border-top-left-radius: 30px;
  background-color: #fff;
  position: relative;
}
#mPage-menu:before{
  content: "";
  width: 0; 
  height: 0; 
  border-left: 13px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 16px solid #B2B5B6;
  position: absolute;
  left: -8px; 
  bottom:0px;
}
#mPage-menu:after{
  content: "";
  width: 0; 
  height: 0; 
  border-left: 13px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 16px solid #ffffff;
  position: absolute;
  left: -7px; 
  bottom:0px;
}
#mPage-menu .menu {margin-top: 4px;}
#mPage-tab-cont .tab {
  display: inline-block;
  width: 250px;
  height: 25px;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 5px;
  cursor: pointer;
  border-right:1px solid #B2B5B6;
  float: left;
}
#mPage-tab-cont .tab.active{
  background-color:#fff;
}
#mPage-tab-cont .tab.hide{
  display: none;
}
#mPage-tab-cont .tab .close{
  background-image: url(../images/close-icon.png);
  width:16px;
  height: 16px;
  float: right;
}
#mPage-tab-cont .tab .close:hover{
  background-color: #D3D4D5;
}
#mPage-tab-cont .tab.active .close:hover{
  background-color: #F4F4F4;
}

#mPage-tab-cont .all-tabs{
  display: inline-block;
  float: left;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  cursor: pointer;
  position: relative;
  border-right: 1px solid #B2B5B6;
}
.all-tabs.active {background-color: #fff}
#mPage-tab-cont .all-tabs-dd{
  position: absolute;
  top: 30px;
  left:-1px;
  background-color: #fff;
  border-right: 1px solid #B2B5B6;
  border-left: 1px solid #B2B5B6;
  border-bottom: 1px solid #B2B5B6;
  width:145px;
  display: none;
  padding: 10px;
  z-index: 1;
}
.all-tabs-link {
  color: #595F62;
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #595F62;
  margin-top: 8px;
  display: inline-block;

}
#mPage-tab-cont a.all-tab-item{
  color: #595F62;
  text-decoration: none;
  line-height: 23px
}
#mPage-tab-cont a.all-tab-item:hover{
  text-decoration: underline;
}

#mPage-tab-cont .add-tab {
  background-image: url(../images/add-grey.png);
  background-repeat: no-repeat;
  height: 13px;
  width:13px;
  display: inline-block;
  float: left;
  margin-left:10px;
  margin-right: 10px;
  margin-top: 8px;
  cursor: pointer;
}

#mPage-tab-cont .left-arrow{
  background-image: url(../images/left.png);
  background-repeat: no-repeat;
  background-position: 7px 8px;
  width: 13px;
  height: 30px;
  display: inline-block;
  float: left;
  padding-left:7px;
  padding-right: 7px;
  cursor: pointer;
  border-right:1px solid #B2B5B6;
}
#mPage-tab-cont .left-arrow.deactive{background-image: url(../images/left_disabled.png); cursor: default;}

#mPage-tab-cont .right-arrow{
  background-image: url(../images/right.png);
  background-repeat: no-repeat;
  background-position: 7px 8px;
  width: 13px;
  height: 30px;
  display: inline-block;
  float: left;
  padding-left:7px;
  padding-right: 7px;
  cursor: pointer;
  border-right:1px solid #B2B5B6;
}
#mPage-tab-cont .right-arrow.deactive{background-image: url(../images/right_disabled.png); cursor: default;}

#mPage-page-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
}
#mPage-page-cont{
  /*margin-top: 10px;*/
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
}
#mPage-page{
  position: relative;
  /*overflow-y: scroll;*/
  /*left: 25px; un-comment to make wrapper fluid*/
  /*top: 115px; commited out because workflow content is in iframe**/
 /* bottom: 0px; commited out because workflow content is in iframe**/
  display: block;
  /*padding-right: 20px;*/
  width: 1400px; /*change to calc(100% - 43px); to make wraper fluid*/
  /*margin-top: 10px;*/
  float: left;  /*added because workflow content is in iframe*/
  border-right: 1px solid #B2B5B6;
}
#contextual-view{
  width: 460px;
  padding-left: 9px;
  padding-right: 10px;
  padding-top: 10px;
  float: right;
  height: 100%;
  background-color: #ffffff;
}
#workflow-nav-cont{
  background-color: #EEF1F5;
  width: 200px;
  height: 100%;
  float:left;
  position: fixed;
  -webkit-box-shadow: inset -5px 0px 5px -2px rgba(0,0,0,0.2);
-moz-box-shadow: inset -5px 0px 5px -2px rgba(0,0,0,0.2);
box-shadow: inset -5px 0px 5px -2px rgba(0,0,0,0.2);
}
#workflow-nav {
  list-style: none;
  padding-left:0px;
}
#workflow-nav li{
    display: list-item;
    text-align: -webkit-match-parent;
}
#workflow-nav a span {
    display: block;
    height: 22px;
    padding: 5px 0 0 12px;
}

.navigator {
  width:200px; 
  margin-right:10px; 
  height:100%; 
  position:fixed;
}

#workflow-nav a{height:26px;width:200px;color:#505050;display:block;text-decoration:none;background:url(../img/acutenav-off.png) 0 100% no-repeat;padding:0;}
#workflow-nav .current a{color:#FFF;background:#568ECB url(../images/nav-active.png) 0 100% no-repeat;}


.image-content {
  display: none;
  width:100%;
}

#cont-add{
  width: 100%;
  display: none;
}
.add-wrapper{
  width:500px;
  margin:0 auto;
  margin-top: 100px;
}

.add-item{
  border:1px solid #D3D4D5;
  padding: 4px;
  width: 100%;
  display: block;
  float: left;
  margin-bottom: 10px;
  cursor: pointer;
}
.add-item:hover{border:1px solid #B2B5B6;}
.add-item img {margin-right:10px; float: left;}
.add-item span {float:left; margin-top: 4px;}



/*MPAGE STANDARD ELEMENTS*/
.component-wrapper{
  width: 100%;
  display: block;
  padding-bottom:40px;
}
.component-cont{
  display: block;
  margin-top: 13px;
  margin-right: 10px;
  margin-left: 10px;
}
#contextual-view .component-cont{margin-right: 0px; margin-left: 0px;}
.component-header{
  width: 100%;
  border-bottom: 1px solid #006492;
  position: relative;
}
.component-header:before{
  border-top: 1px solid #A6C9D9;
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  bottom: -4px;
  width: 100%
}
.component-header h2{
  display: inline-block;
  margin-left:10px;
}
.component-menu{
  float: right;
  display: block;
  margin-top: 5px;
  margin-right: 20px;
}
.component-menu .menu{
  float: left;
}


/* ====================== COLORS ====================== */
.med-darkest-bg {background-color: #373F42}
.med-darkest-text {color: #373F42}
.med-darkest-border {border-color: #373F42}

.med-darker-bg {background-color: #595F62}
.med-darker-text {color: #595F62}
.med-darker-border {border-color: #595F62}

.med-dark-bg {background-color: #7A7F82}
.med-dark-text {color: #7A7F82}
.med-dark-border {border-color: #7A7F82}

.med-bg {background-color: #909496}
.med-text{color: #909496}
.med-border {border-color: #909496}

.med-light-bg {background-color: #B2B5B6}
.med-light-text {color: #B2B5B6}
.med-light-border {border-color: #B2B5B6}

.med-lighter-bg {background-color: #D3D4D5}
.med-lighter-text {color: #D3D4D5}
.med-lighter-border {border-color: #D3D4D5}

.med-lightest-bg {background-color: #F4F4F4}
.med-lightest-text {color: #F4F4F4}
.med-lightest-border {border-color: #F4F4F4}

.white-bg, .white-bg-hover {background-color: #ffffff}
.white-bg-hover:hover {background-color: #F5F8FC}
.white-text {color: #ffffff}
.white-border {border-color: #ffffff}

.acc-darkest-bg {background-color: #004C76}
.acc-darkest-text {color: #004C76}
.acc-darkest-border {border-color: #004C76}

.acc-darker-bg {background-color: #0065A3}
.acc-darker-text {color: #0065A3}
.acc-darker-border {border-color: #0065A3}

.acc-dark-bg {background-color: #007CC3}
.acc-dark-text {color: #007CC3}
.acc-dark-border {border-color: #007CC3}

.acc-bg {background-color: #007CC3}
.acc-text {color: #007CC3}
.acc-border{border-color: #007CC3}

.acc-light-bg {background-color: #33A8E6}
.acc-light-text {color: #33A8E6}
.acc-light-border {border-color: #33A8E6}

.acc-lighter-bg {background-color: #CCE9F9}
.acc-lighter-text {color: #CCE9F9}
.acc-lighter-border{border-color: #CCE9F9}

.acc-lightest-bg {background-color: #F2F9FD}
.acc-lightest-text {color: #F2F9FD}
.acc-lightest-border {border-color: #F2F9FD}

.clin-low-bg {background-color: #0053E6}
.clin-low-text {color: #0053E6}
.clin-low-border {border-color: #0053E6}

.clin-abnormal-bg {background-color: #654A08}
.clin-abnormal-text {color: #654A08}
.clin-abnormal-border {border-color: #654A08}

.clin-high-bg {background-color: #FF6600}
.clin-high-text {color: #FF6600}
.clin-high-border {border-color: #FF6600}

.clin-critical-bg {background-color: #CC0000}
.clin-critical-text {color: #CC0000}
.clin-critical-border {border-color: #CC0000}

.required-fields {background-color: #FFFFCC}


