
body{

}



.demographics-banner{
}



.baby-video-content{
  height: 90%;
  width: 100%;
  background-color: #f4f4f4;
  display: -webkit-flex;
  display: flex;
  display:-moz-flex;
  display:-ms-flexbox;
  display:-ms-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-flex-direction:row;
  -ms-flexbox-direction:row;
  -ms-flex-direction:row;
}

.details-panel{
  background: #EDEDED;
  /*z-index: 9;*/
  font-weight: bold;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  padding-right: 0.5em;
}

.details-panel-content{
  width:335px;
}
.details-results-group{
  border: 1px solid #ACACAC;
  background:#FFFFFF;
  width:315px;
  min-height: 100px;
  margin: 6px 10px 12px 15px;
  border-radius: 4px; 
}
.video-panel{
  background: #000000;
  flex: 1 1 auto;
  -webkit-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
}
.video-iframe{
  height: 100%;
  width: 100%;
  border: 0px;
}


/*.details-results-group .span6{display: inline-block;}*/

.details-panel-header{margin-top:20px; vertical-align: baseline;}
.details-panel-header h4{margin-left: 15px; font-weight: bold !important; color:#000000;font-size: 16px;float: left;}
.details-panel-header label{font-weight: normal !important; color:#5F5F5F !important;font-size: 12px;float: right; margin-right:10px;}



.details-results-group {text-align: right};

.details-results-group dl{display: block; background: teal; height: 30px; padding:10px;}
.details-results-group dd{float:left;}
.details-results-group dt{float:left;}

.details-results-group .value{text-align: right; background: skyblue}
.details-results-group .label{text-align: left; background: orange}
.details-results-group .label-uofm{display: block;}

.details-results-group .value-hr,
.details-results-group .value-bp{font-size: 54px;}
.details-results-group .label-hr{}


.select-group {
 }
 
.select-label {
 
}
 
.select-option {

}